@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body
{
  font-family: 'Ubuntu', sans-serif;
}

table{
  align:center;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:
}

td {
  position:relative;
  height:50px;
  width:50px;  
  transition:all 1s ease;
  float:left;
  margin:3px; 
  opacity:0.6;
  
}

td:hover{
  transform:scale(1.1);
  opacity:0.8;
  text-shadow:0 0 5 black;
  font-size:20px;
}

footer{
	position:absolute;
	bottom:0px;
}
